.grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
}
.item{
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    
}
.item-lang{
    text-align: center;
    padding-bottom: 36px;
    font-weight: 700;

}
.btn a{
    display: grid;
    align-items: center;
    text-decoration: none;
    

}
@media screen and (max-width: 1145px){
    .grid{
        grid-template-columns: 1fr;
    }
}
    
